@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans&display=swap');

/** --------------- General --------------- **/
:root {
    --white-color: white;
    --red-four: #f94449;

    --title-size: 30px;
    --text-size: 16px;
    --item-title-size: 19px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#header {
    height: 50vh;
    background: var(--red-four);
}

.section {
    margin: 50px 80px 0 80px;
    padding: 20px;
}

p {
    text-align: justify;
    font-size: var(--text-size);
}

.title-h1 {
    margin: 20px 0 20px 0;
    color: var(--red-four);
    font-size: var(--title-size);
}

/** --------------- Header --------------- **/
#header img {
    width: 150px;
    margin: -50px;
    position: relative;
    border: var(--white-color) solid 1px;
    padding: 10px;
    border-radius: 100px;
}

#header h1, h3 {
    font-family: sans-serif;
    color: var(--white-color);
    position: relative;
    top: 60%;
}

#btns-link {
    position: relative;
    top: 65%;
}

#btns-link a.button {
    border: var(--white-color) solid 1.5px;
    text-decoration: none;
    color: var(--white-color);
    margin: 10px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
}

#btns-link a:hover {
    background-color: var(--red-four);
}

/** --------------- Icons --------------- **/

.section .container {
    padding: 10px;
    display: flex;
}

.section .container .item img {
    width: 150px;
    border-radius: 30px;
    box-shadow: 2px 3px 10px black;
    margin: 10px 20px 10px 0;
}

.section .container .item-title {
    font-size: var( --item-title-size);
    color: var(--red-four);
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: -13px;
}

.section .container .text {
    height: 160px;
    width: 100%;
    text-align: justify;
}


/** --------------- Footer --------------- **/
#footer p {
    padding: 10px;
    background-color: var(--red-four);
    color: var(--white-color);
    text-align: center;
}

/** --------------- Back to top btn --------------- **/
#topBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: var(--red-four); 
    color: white; 
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: var(--text-size);
}

#topBtn img {
    width: 20px;
}

/** --------------- Media Screen 800px --------------- **/
@media screen and (max-width: 800px){
    #header img {
        width: 110px;
        margin: -50px;
        position: relative;
        border: var(--white-color) solid 1px;
        padding: 10px;
        border-radius: 100px;
    }

    #header h1, h3 {
        font-family: sans-serif;
        color: var(--white-color);
        position: relative;
        font-size: 20px;
        top: 60%;
    }
    
    #btns-link {
        position: relative;
        top: 65%;
    }
}

/** --------------- Media Screen 1920px --------------- **/

@media screen and (width: 1920px){
    #header img {
        width: 200px;
        margin: -10px;
        position: relative;
        border: var(--white-color) solid 1px;
        padding: 10px;
        border-radius: 100px;
    }

    #header h1, h3 {
        font-family: sans-serif;
        color: var(--white-color);
        position: relative;
        font-size: 30px;
        top: 65%;
    }
    
    #btns-link {
        position: relative;
        top: 70%;
    }

    p {
        text-align: justify;
        font-size: 25px;
    }
    
    .title-h1 {
        margin: 20px 0 20px 0;
        color: var(--red-four);
        font-size: 35px;
    }

    .section .container .item-title {
        font-size: 30px;
        color: var(--red-four);
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: -13px;
    }
}

/** --------------- Media Screen 736px --------------- **/
@media screen and (max-width: 736px) {
    #header img {
        width: 120px;
        margin: -20px;
        position: relative;
        border: var(--white-color) solid 1px;
        padding: 10px;
        border-radius: 100px;
    }

    #header h1, h3 {
        font-family: sans-serif;
        color: var(--white-color);
        position: relative;
        font-size: 18px;
        top: 65%;
    }
    
    #btns-link {
        position: relative;
        top: 70%;
    }

    p {
        text-align: justify;
        font-size: 15px;
    }
    
    .title-h1 {
        margin: 20px 0 20px 0;
        color: var(--red-four);
        font-size: 25px;
    }

    .section .container {
        padding: 10px;
        display: block;
    }
    
    .section .container .item img {
        width: 70px;
        border-radius: 15px;
        box-shadow: 2px 3px 10px black;
        margin: 10px 20px 0 30px;
        justify-content: center;
        align-items: center;
        
    }
    
    .section .container .item-title {
        font-size: 15px;
        color: var(--red-four);
        font-weight: bold;
    }
    
    .section .container .text {
        height: 160px;
        width: 100%;
        font-size: 10px;
        text-align: center;
    }
}